.bh1{
    display: flex;
    background: -webkit-linear-gradient(#6aeeff, #007bff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 32px;
    margin-bottom: 3vh;
}
.bSpan1{
    font-weight: 500;
    font-size: 19px;
}
.bSpan2{
    font-weight: 300;
    font-size: 17px;
}
.Card{
    border: none;
    border-radius: 0;
}
.bCard2{
    border-radius: 0;
    border: none;
    position: sticky;
    top: 4rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 99%;
}
.shimmerplace{
    min-height: 2.68rem;
    margin: 2.68px 0;
}